<div class="row">
  <div class="col clinic-title">
    <div class="row">
      <h1><b>זימון תורים</b></h1>
    </div>
    <div class="row">
      <div class="stepwizard">
        <div class="stepwizard-row">
          <div class="stepwizard-step">
            <button type="button" class="btn bg-light-blue-bg-color btn-circle" disabled="disabled">1</button>
          </div>
          <div class="stepwizard-step">
            <button type="button" class="btn btn-circle"
                    [ngClass]="this.currentPart == 1 ? 'bg-main-blue-bg-color' : 'bg-light-blue-bg-color'"
                    disabled="disabled">2</button>
          </div>
          <div class="stepwizard-step">
            <button type="button" class="btn btn-circle"
                    [ngClass]="this.currentPart == 2 ? 'bg-main-blue-bg-color' : 'bg-light-blue-bg-color'"
                    disabled="disabled">3</button>
          </div>
          <div class="stepwizard-step">
            <button type="button" class="btn btn-circle"
                    [ngClass]="this.currentPart == 3 ? 'bg-main-blue-bg-color' : 'bg-light-blue-bg-color'"
                    disabled="disabled">4</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="part1">
  <div class="row">
    <h4>פרטי המזמין/ההורה</h4>
  </div>
  <div class="row">
    <div *ngIf="appDetails.appFk" class="col-sm">
      <form>
        <div class="row">
          <label for="appointment-firstName-input">שם פרטי</label>
          <input class="form-control" name="firstName-input" id="appointment-firstName-input" [(ngModel)]="appDetails.appFk.firstName">
        </div>

        <div class="row">
          <label for="appointment-lastName-input">שם משפחה</label>
          <input class="form-control" name="lastName-input" id="appointment-lastName-input" [(ngModel)]="appDetails.appFk.lastName">
        </div>

        <div class="row">
          <label for="appointment-email-input">אימייל</label>
          <input class="form-control" name="email-input" id="appointment-email-input" [(ngModel)]="appDetails.appFk.email">
        </div>

        <div class="row">
          <label for="appointment-phoneNum-input">טלפון לחזרה</label>
          <input class="form-control" name="phoneNum-input" id="appointment-phoneNum-input" [(ngModel)]="appDetails.appFk.phoneNum">
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="part2">
  <div class="row">
    <h4>פרטי הילד</h4>
  </div>
  <div class="row">
    <div *ngIf="appDetails.childFk" class="col-sm">
      <form>
        <label for="child-birthDate-input">תאריך לידה</label>
        <input  #birthDateInput
                class="form-control" type="date" name="birthDate-input" id="child-birthDate-input"
                (input)="onDateInput('childFk', 'birthDate', birthDateInput.value)">

        <div *ngFor="let sex of Sex | enumToArray">
          <input type="radio" value="{{ sex.key }}" name="sex-{{ sex.value }}-input" id="sex-{{ sex.value }}-input" [(ngModel)]="appDetails.childFk.sex"> {{ sex.value | sexName }}
        </div>

        <div class="row">
          <label for="child-firstName-input">שם פרטי</label>
          <input class="form-control" name="firstName-input" id="child-firstName-input" [(ngModel)]="appDetails.childFk.firstName">
        </div>

        <div class="row">
          <label for="child-lastName-input">שם משפחה</label>
          <input class="form-control" name="lastName-input" id="child-lastName-input" [(ngModel)]="appDetails.childFk.lastName">
        </div>

        <div class="row">
          <label for="child-id-input">ת.ז</label>
          <input class="form-control" name="id-input" id="child-id-input" [(ngModel)]="appDetails.childFk.iDnt">
        </div>

        <div class="row">
          <label for="appointment-hmo-input">מבוטח בקופ"ח</label>
          <select class="form-control" name="hmo-input" id="appointment-hmo-input" [(ngModel)]="appDetails.hmoFkID">
            <option *ngFor="let hmo of hmos" value="{{ hmo.id }}">{{ hmo.name }}</option>
          </select>
        </div>

        <div class="row">
          <label for="appointment-appRelation-input">קרבת המזמין</label>
          <select class="form-control" name="appRelation-input" id="appointment-appRelation-input" [(ngModel)]="appDetails.appRelation">
            <option *ngFor="let r of Relations | enumToArray" value="{{ r.key }}">{{ r.value | relationName }}</option>
          </select>
        </div>

        <div class="row">
          <label for="appointment-appReasones-input">סיבות זימון</label>
          <textarea class="form-control" name="appReasones-input" id="appointment-appReasones-input" [(ngModel)]="appDetails.appReasones"></textarea>
        </div>

        <label for="appointment-appDate-input">תאריך רצוי</label>
        <input  #appDateInput
                class="form-control" type="date" name="birthDate-input" id="appointment-appDate-input"
                (input)="onDateInput(null, 'appDate', appDateInput.value)">
      </form>
    </div>
  </div>
</div>

<div *ngIf="part3">
  <div *ngIf="article">
    <div class="row">
      <h4>{{ article.title }}</h4>
    </div>

    <div class="row">
      <h6>{{ article.author }}</h6>
    </div>

    <div class="row">
      <div class="col-sm">
        <p><b>{{ article.subTitle }}</b></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <img src="{{ article.pictureAddr }}">
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <p>{{ article.artText }}</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <button (click)="back()" type="button" class="btn bg-main-blue-bg-color btn-sm">דף קודם</button>
  </div>
  <div class="col-sm">
    <button *ngIf="part1 || part2; else approval" (click)="next()" type="button" class="btn bg-main-blue-bg-color btn-sm float-left">הבא</button>
    <ng-template #approval>
      <button (click)="save()" type="button" class="btn bg-main-blue-bg-color btn-sm float-left">שמירה</button>
    </ng-template>
  </div>
</div>
