<div class="row appointment-title">
  <h4>פרטי מזמינים לפי סינון</h4>
</div>

<div class="row">
  <div class="col-sm">
    <label for="recpDate-input">מועד בקשה</label>
    <input  #recpDateInput
            class="form-control" type="date" name="recpDate-input" id="recpDate-input"
            (input)="onRecpDateInput(recpDateInput.value)">
  </div>

  <div class="col-sm">
    <label for="iDnet-input">ת.ז ילד</label>
    <select  #iDnetInput
             class="form-control" name="iDnet-input" id="iDnet-input"
             (input)="onIDnetInput(iDnetInput.value)">
      <option value="">בחר..</option>
      <option *ngFor="let child of children" value="{{ child.id }}">{{ child.iDnt }}</option>
    </select>
  </div>

  <div class="col-sm">
    <label for="staffStatusInput-input">סטטוס</label>
    <select   #staffStatusInput
              class="form-control" name="staffStatusInput-input" id="staffStatusInput-input"
            (input)="onAppStatusInput(staffStatusInput.value)">
      <option value="">בחר..</option>
      <option *ngFor="let a of AppStatus | enumToArray" value="{{ a.key }}">{{ a.value | AppStatusName }}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <label for="aprDate-input">מועד מאושר</label>
    <input  #aprDateInput
            class="form-control" type="date" name="aprDate-input" id="aprDate-input"
            (input)="onAprDateFilterInput(aprDateInput.value)">
  </div>

  <div class="col-sm">
    <label for="staff-input">מטפל</label>
    <select  #staffInput
             class="form-control" name="staff-input" id="staff-input"
             (input)="onStaffFilterInput(staffInput.value)">
      <option value="">בחר..</option>
      <option *ngFor="let s of staff" value="{{ s.id }}">{{ s.firstName }} {{ s.lastName }}</option>
    </select>
  </div>

  <div class="col-sm">
    <label for="hmo-input">קופ"ח</label>
    <select  #hmoInput
             class="form-control" name="hmo-input" id="hmo-input"
             (input)="onHmoFilterInput(hmoInput.value)">
      <option value="">בחר..</option>
      <option *ngFor="let h of hmos" value="{{ h.id }}">{{ h.name }}</option>
    </select>
  </div>
</div>

<div class="row" *ngFor="let ad of displayedAppDetails">
  <div class="col-sm appointment">
    <div class="row">
      <div class="col-sm">

        <span>שם מזמין: </span>
        <span><b> {{ ad.appFk.firstName }} {{ ad.appFk.lastName }}</b>  </span>
        <span><b> ({{ ad.appRelation | relationName }})</b>  </span>
        <span> טלפון: </span>
        <span><b> {{ ad.appFk.phoneNum }}</b>  </span>
        <span> מייל: </span>
        <span><a href="mail:{{ ad.appFk.email }}"><b> {{ ad.appFk.email }}</b>  </a></span>
        <span>מועד בקשה:  </span>
        <span><b> {{ ad.recpDate | date : 'shortDate' }}</b>  </span>
        <br>
        <span>שם הילד: </span>
        <span><b> {{ ad.childFk.firstName }} {{ ad.childFk.lastName }}</b>  </span>
        <span> מין: </span>
        <span><b> {{ ad.childFk.sex | sexName }}</b>  </span>
        <span> ת. לידה: </span>
        <span><b> {{ ad.childFk.birthDate | date : 'shortDate' }}</b>  </span>
        <span> ת.ז: </span>
        <span><b> {{ ad.childFk.iDnt }}</b>  </span>
        <span> קופ"ח: </span>
        <span><b> {{ ad.hmoFk.name }}</b>  </span>
        <span> מועד מועדף: </span>
        <span><b> {{ ad.appDate | date : 'shortDate' }}</b>  </span>
        <br>
        <span><b> {{ ad.appFk.comments }}</b> </span>
        <br>
        <span><b> {{ ad.appReasones }}</b> </span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <label for="staff-change-input">שם מטפל</label>
        <select class="form-control" name="hmo-input" id="staff-change-input" [(ngModel)]="ad.staffFkID">
          <option *ngFor="let s of staff" value="{{ s.id }}">{{ s.firstName }} {{ s.lastName }}</option>
        </select>
      </div>

      <div class="col-sm">
        <label for="aprDate-change-input">תאריך מאושר</label>
        <input  #aprDateChange
                class="form-control" type="datetime-local" name="aprDate-change-input" id="aprDate-change-input"
                value="{{ getFormatedDate(ad.aprDate) }}"
                (input)="onDateInput(ad, 'aprDate', aprDateChange.value)">
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <button (click)="delete(ad.id)" type="button" class="btn bg-main-blue-bg-color btn-sm">מחיקה</button>
      </div>
      <div class="col-sm">
        <label for="staffStatusChange-input">סטטוס</label>
        <select   #staffStatusChangeInput
                  class="form-control" name="staffStatusChangeInput-input" id="staffStatusChange-input"
                  [(ngModel)]="ad.appStatus">
          <option *ngFor="let a of AppStatus | enumToArray" value="{{ a.key }}">{{ a.value | AppStatusName }}</option>
        </select>
      </div>
      <div class="col-sm">
        <button (click)="update(ad)" type="button" class="btn bg-main-blue-bg-color btn-sm float-left">אישור</button>
      </div>
    </div>
  </div>
</div>
