<div class="row">
  <div class="col clinic-title">
    <div class="row">
      <h1><b>זימון תורים</b></h1>
    </div>
    <div class="row">
      <div class="stepwizard">
        <div class="stepwizard-row">
          <div class="stepwizard-step">
            <button type="button" class="btn bg-main-blue-bg-color btn-circle" disabled="disabled">1</button>
          </div>
          <div class="stepwizard-step">
            <button type="button" class="btn bg-light-blue-bg-color btn-circle" disabled="disabled">2</button>
          </div>
          <div class="stepwizard-step">
            <button type="button" class="btn bg-light-blue-bg-color btn-circle" disabled="disabled">3</button>
          </div>
          <div class="stepwizard-step">
            <button type="button" class="btn bg-light-blue-bg-color btn-circle" disabled="disabled">4</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="article">
  <div class="row">
    <h4>{{ article.title }}</h4>
  </div>

  <div class="row">
    <h6>{{ article.author }}</h6>
  </div>

  <div class="row">
    <div class="col-sm">
      <p><b>{{ article.subTitle }}</b></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <img src="{{ article.pictureAddr }}">
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <p>{{ article.artText }}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <button (click)="exit()" type="button" class="btn bg-main-blue-bg-color btn-sm">דף קודם</button>
  </div>
  <div class="col-sm">
    <button (click)="next()" type="button" class="btn bg-main-blue-bg-color btn-sm float-left">הבא</button>
  </div>
