<div class="row">
  <div class="col clinic-title">
    <h1><b>המרפאה – רשת מרפאות בשבילך</b></h1>
  </div>
</div>

<div class="row">
  <h4>תפריט אפשרויות</h4>
</div>
<div class="row">
  <ul>
    <li>
      <a href="/appointments">ניהול זימון פגישות</a>
    </li>
    <li>
      <a href="/articles">ניהול מאמרים</a>
    </li>
  </ul>
</div>
