<div class="container">

  <div class="row">
    <div class="col-sm-9 main">
      <div class="row nav">
        <div class="col-sm-3 logo">
          <p>logo</p>
        </div>
        <div class="col-sm-9 nav-n-data">
          <div class="row info">
            <p>
              {{ contactUsText }}
            </p>
          </div>
          <nav class="row nav blog-nav">
            <a class="nav-link active" href="/appointments/guidance">איך להזמין פגישה</a>
            <a class="nav-link active" href="#/articles/איך להגיע/category">איך להגיע</a>
            <a class="nav-link active" href="#/articles/צור קשר/category">צור קשר</a>
            <a class="nav-link active" href="#/articles/מי אנחנו/category">מי אנחנו</a>
            <a class="nav-link active" href="#/">דף הבית</a>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 bg-main-blue-bg-color">
          <img src="assets/images/flower.png"/>
        </div>
        <div class="col-sm-9 view-port">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class="col-sm-3 blog-sidebar">
      <p class="bg-main-blue-color">{{today | date : 'fullDate'}}</p>

      <div class="sidebar-module">
        <a class="nav-link" href="/internal">ניהול פנימי</a>
        <h4>טיפולים</h4>
        <ul *ngIf="articles">
          <li *ngFor="let article of treatmentArticles">
            <a href="/articles/{{ article.id }}/read">{{ article.title }}</a>
          </li>
        </ul>
        <h4>מאמרים</h4>
        <ul *ngIf="articles">
          <li *ngFor="let article of articles">
            <a href="/articles/{{ article.id }}/read">{{ article.title }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<footer class="blog-footer"></footer>
