<div class="row">
  <div class="col clinic-title">
    <h1><b>מאמרים</b></h1>
  </div>
</div>

<div class="row">
  <div *ngIf="article; else notFound" class="col-sm">
    <form>
      <div class="row">
        <label for="author-input">שם הכותב</label>
        <input class="form-control" name="author-input" id="author-input" [(ngModel)]="article.author">
      </div>

      <div class="row">
        <div class="col-sm">
          <label for="category-input">קטגוריה</label>
          <select class="form-control" name="category-input" id="category-input" [(ngModel)]="article.categoryFkID">
            <option value="">בחר..</option>
            <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.catName }}</option>
          </select>
        </div>

        <div class="col-sm">
          <label for="priority-input">עדיפות</label>
          <input class="form-control" name="priority-input" id="priority-input" [(ngModel)]="article.priority">
        </div>
      </div>

      <div class="row">
        <label for="title-input">כותרת</label>
        <input class="form-control" name="title-input" id="title-input" [(ngModel)]="article.title">
      </div>

      <div class="row">
        <label for="subTitle-input">תקציר</label>
        <textarea class="form-control" name="subTitle-input" id="subTitle-input" [(ngModel)]="article.subTitle"></textarea>
      </div>

      <div class="row">
        <label for="pictureAddr-input">כתובת התמונה</label>
        <textarea class="form-control" name="pictureAddr-input" id="pictureAddr-input" [(ngModel)]="article.pictureAddr"></textarea>
      </div>

      <div class="row">
        <label for="artText-input">מלל</label>
        <textarea class="form-control" name="artText-input" id="artText-input" [(ngModel)]="article.artText"></textarea>
      </div>

      <div class="row">
        <button (click)="save()" type="button" class="btn bg-main-blue-bg-color btn-sm">שמירה</button>
      </div>
    </form>
  </div>
  <ng-template #notFound>
    <p>המאמר לא נמצא</p>
  </ng-template>
</div>
