<div class="row">
  <div class="col clinic-title">
    <h1><b>מאמרים</b></h1>
  </div>
</div>

<div class="row">
  <h4>פרטי מאמרים לפי סינון</h4>
</div>

<div class="row">
  <div class="col-sm">
    <label for="category-input">קטגוריה</label>
    <select  #categoryInput
             class="form-control" name="category-input" id="category-input"
            (input)="onCategoryInput(categoryInput.value)">
      <option value="">בחר..</option>
      <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.catName }}</option>
    </select>
  </div>
  <div class="col-sm">
    <label for="author-input">כותב</label>
    <input  #authorInput
            class="form-control" name="author-input" id="author-input"
           (input)="onAuthorInput(authorInput.value)">
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <label for="publishDate-input">ת. פרסום</label>
    <input  #publishDateInput
            class="form-control" type="date" name="publishDate-input" id="publishDate-input"
           (input)="onDateInput(publishDateInput.value)">

  </div>
  <div class="col-sm">
    <label for="title-input">כותרת</label>
    <input  #titleInput
            class="form-control" name="title-input" id="title-input"
            (input)="onTitleInput(titleInput.value)">
  </div>
</div>

<div class="row">
  <table class="t1" *ngIf="articles">
    <thead>
      <tr>
        <th (click)="sortBy('title')">
          <i *ngIf="isSortingByTitle" class="arrow {{ this.arrowDirection }}"></i>
          <span>כותרת</span>
        </th>
        <th (click)="sortBy('author')">
          <i *ngIf="isSortingByAuthor" class="arrow {{ this.arrowDirection }}"></i>
          <span>כותב</span>
        </th>
        <th (click)="sortBy('publishDate')">
          <i *ngIf="isSortingByPublishDate" class="arrow {{ this.arrowDirection }}"></i>
          <span>ת. פרסום</span>
        </th>
        <th (click)="sortBy('category')">
          <i *ngIf="isSortingByCategory" class="arrow {{ this.arrowDirection }}"></i>
          <span>קטגוריה</span>
        </th>
        <th (click)="sortBy('priority')">
          <i *ngIf="isSortingByPriority" class="arrow {{ this.arrowDirection }}"></i>
          <span>עדיפות / בחירה</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of displayedArticles">
        <td>{{ article.title }}</td>
        <td>{{ article.author }}</td>
        <td>{{ article.publishDate | date : 'shortDate' }}</td>
        <td>{{ article.categoryFkID | categoryName | async }}</td>
        <td>
          {{ article.priority }}
          <a href="/articles/{{ article.id }}/edit">
            <button type="button" class="btn bg-main-blue-bg-color btn-sm">&#9998;</button>
          </a>
        </td>
    </tbody>
  </table>
</div>

<div class="row">
  <button (click)="createNewArticle()" type="button" class="btn bg-main-blue-bg-color btn-sm">מאמר חדש</button>
</div>
