<div class="row">
  <div class="col clinic-title">
    <h1><b>מאמרים</b></h1>
  </div>
</div>

<div *ngIf="article">
  <div class="row">
    <h4>{{ article.title }}</h4>
  </div>

  <div class="row">
    <h6>{{ article.author }}</h6>
  </div>

  <div class="row">
    <div class="col-sm">
      <p><b>{{ article.subTitle }}</b></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <img src="{{ article.pictureAddr }}">
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <p>{{ article.artText }}</p>
    </div>
  </div>
</div>
