body {
  direction: rtl;
  text-align: right;
  font-family: sans-serif;
}

.bg-main-blue-bg-color {
  background-color: #4472c4
}

.bg-light-blue-bg-color {
  background-color: #95b3d7
}

.bg-main-blue-color {
  color: #4472c4;
}

/*.row {*/
  /*border: #4472c4 1px solid;*/
/*}*/

/*.col-sm {*/
  /*border: #4472c4 1px solid;*/
/*}*/

.clinic-title {
  background-color: #bc9147;
  color: #ffffff;
}

table.t1 {
  margin: 1em auto;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}
.t1 th, .t1 td {
  padding: 4px 8px;
}
.t1 thead th {
  background: #4472c4;
  text-transform: lowercase;
  text-align: right;
  font-size: 15px;
  color: #fff;
}
.t1 tr {
  border-right: 1px solid #95b3d7;
}
.t1 tbody tr {
  border-bottom: 1px solid #95b3d7;
}
.t1 tbody tr:nth-child(odd) {
  background: #dbe5f0;
}
.t1 tbody th, .t1 tbody tr:nth-child(even) td {
  border-right: 1px solid #95b3d7;
}
.t1 tfoot th {
  background: #4f81bd;
  text-align: left;
  font-weight: normal;
  font-size: 10px;
  color: #fff;
}
/*.t1 tr *:nth-child(3), .t1 tr *:nth-child(4) {*/
  /*text-align: right;*/
/*}*/


i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.float-left {
  float: left;
}
